<h1>About Us</h1>
  <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic dolores iure excepturi, impedit laborum nam! Earum vitae molestiae, eligendi, facere repudiandae tenetur deserunt quibusdam porro explicabo quia harum rem magnam.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex perferendis cum rerum qui beatae amet pariatur cupiditate soluta impedit temporibus. Maiores, aspernatur temporibus sequi voluptas perspiciatis nostrum illo odit ut.</p>

  <h2>Our Mission</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur corporis quaerat rem alias saepe consectetur itaque atque officia illo, vel natus delectus exercitationem magni labore quasi qui sed, eveniet distinctio!</p>

  <h2>Our Team</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="https://via.placeholder.com/200" class="card-img-top" alt="Team Member">
        <div class="card-body">
          <h5 class="card-title">hogehoge</h5>
          <p class="card-text">CEO</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://via.placeholder.com/200" class="card-img-top" alt="Team Member">
        <div class="card-body">
          <h5 class="card-title">fugafuga</h5>
          <p class="card-text">Marketing Head</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://via.placeholder.com/200" class="card-img-top" alt="Team Member">
        <div class="card-body">
          <h5 class="card-title">foo</h5>
          <p class="card-text">Product Manager</p>
        </div>
      </div>
    </div>
  </div>